<% include ..\views\partials\header.ejs %>
<div class="topnav">
  <a class="topnavhead" href="/secret">HOME PAGE</a>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a> -->
	  <div class="topnav-right">
	    <a  href="/login">Login</a>
	    <a href="/register">Signup</a>
	    <a href="/logout">Logout</a>
	  </div>
</div>

<div class="container">
	<header class="jumbotron">
		<h1>Login Successful!!!</h1>
	</header>

	<div class="row">

		<div style="width: 30%; margin: 0 auto;">

			

<li><a href="/logout">Logout</a></li>
			
		</div>
	</div>
</div>
<br>
<!-- <div class="div-content">

<li><a href="/logout">Logout</a></li>
	
</div> -->
<% include ..\views\partials\footer.ejs %>